@using TripBusiness.Ibusiness
@model SampleMVC.Models.TourModel;
@inject ILocalizationService _localizationService;
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var days = ViewBag.days;
    var tour = ViewBag.tour;
    var languages = ViewBag.languages;
}
    
<!-- Modal -->
@using (Html.BeginForm("Add", "Tour", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.TextBoxFor(m => m.Tour.tourId, new { value = "@tour.tourId", @id = "tourId", @class = "form-control", style = "display:none" })
    <div class="container" style="margin-top:100px;width:85%;">
    <div class="row">
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
        <label class="form-label" for="title">
                    @_localizationService.Localize("title")
        </label>
                @Html.TextBoxFor(m => m.Tour.title, new {  @id = "title", @class = "form-control"})
        <span id="titleRequired" style="color:red"></span>
    </div>
    <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
        <label class="form-label" for="duration">
                    @_localizationService.Localize("Duration")
        </label>
                @Html.TextBoxFor(m => m.Tour.duration, new {type = "number", @id = "duration", @class = "form-control"})
                <span id="durationRequired" style="color:red"></span>
    </div>
            
    <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
        <label class="form-label" for="tourType">
                    @_localizationService.Localize("TourType")
        </label>
                @Html.TextBoxFor(m => m.Tour.tourType, new {  @id = "tourType", @class = "form-control"})
        <span id="tourTypeRequired" style="color:red"></span>
    </div>
    <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
        <label class="form-label" for="tourLocation">
                    @_localizationService.Localize("TourLocation")
        </label>
                @Html.TextAreaFor(m => m.Tour.tourLocation, new { @id = "tourLocation", @class = "form-control"})
        <span id="tourLocationRequired" style="color:red"></span>
    </div>
    <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
        <label class="form-label" for="pickupLocation">
                    @_localizationService.Localize("PickupLocation")
        </label>
                @Html.TextAreaFor(m => m.Tour.pickupLocation, new { @id = "pickupLocation", @class = "form-control" })
                <span id="pickupLocationRequired" style="color:red"></span>
            </div>
    <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
        <label class="form-label" for="dropOff">
                    @_localizationService.Localize("DropOff")
                </label>
                @Html.TextAreaFor(m => m.Tour.dropOff, new { @id = "dropOff", @class = "form-control" })
                <span id="dropOffRequired" style="color:red"></span>
            </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="adultPrice">
                    @_localizationService.Localize("adultPrice")
             </label>
                @Html.TextBoxFor(m => m.Tour.adultPrice, new { type = "number", @id = "adultPrice", @class = "form-control" })
                <span id="adultPriceRequired" style="color:red"></span>
            </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="childPrice">
                    @_localizationService.Localize("childPrice")
                </label>
                @Html.TextBoxFor(m => m.Tour.childPrice, new { type = "number", @id = "childPrice", @class = "form-control" })
                <span id="childPriceRequired" style="color:red"></span>
            </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="infantPrice">
                    @_localizationService.Localize("infantPrice")
                </label>
                @Html.TextBoxFor(m => m.Tour.infantPrice, new { type = "number", @id = "infantPrice", @class = "form-control" })
                <span id="infantPriceRequired" style="color:red"></span>
            </div>
    <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
        <label class="form-label" for="capacity">
                    @_localizationService.Localize("Capacity")
                </label>
                @Html.TextBoxFor(m => m.Tour.capacity, new { type = "number", @id = "capacity", @class = "form-control" })
                <span id="capacityRequired" style="color:red"></span>
    </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="capacity" style="display:block">
                    @_localizationService.Localize("AvaliableDays")
                </label>
                <select class="form-control" name="field2" id="field2" multiple multiselect-search="true" multiselect-select-all="true" multiselect-max-items="2" onchange="test(this.selectedOptions)">
                    @{
                        var i = 0;
                    }
                    @foreach (var day in days)
                    {
                        if (Model.tourDays != null)
                        {
                            if(Model.tourDays.Where(e => e.dayId == day.dayId).ToList().Count>0)
                            {
                                <option value="@day.dayId" id="@day.dayId" selected>@day.dayName</option>
                            }
                            else{
                                <option value="@day.dayId" id="@day.dayId">@day.dayName</option>
                            }
                    }
                    }
                </select>
                <span id="dayRequired" style="color:red"></span>

             </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;" id="languageDiv">
                <label class="form-label" for="language">
                    @_localizationService.Localize("language")
                </label>
                @Html.TextBoxFor(m => m.Tour.languageId, new { @id = "languageId", @class = "form-control", style = "display:none" })
                <select name="language" class="form-select" id="language">
                    @foreach (var language in languages)
                    {
                        if(tour.languageId == language.languageId)
                        {
                            <option value="@language.languageId" selected>@language.languageName</option>
                        }
                        else
                        {
                        <option value="@language.languageId">@language.languageName</option>
                        }
                    }
                </select>
                <span id="languageRequired" style="color:red"></span>
            </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="overview">
                    @_localizationService.Localize("Overview")
                </label>
                @Html.TextAreaFor(m => m.Tour.overview, new { @id = "overview", @class = "form-control" })
                <span id="overviewRequired" style="color:red"></span>
            </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="highlights">
                    @_localizationService.Localize("Highlights")
                </label>
                @Html.TextAreaFor(m => m.Tour.highlights, new { @id = "highlights", @class = "form-control" })
                <span id="highlightsRequired" style="color:red"></span>
            </div>
            <div  class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="include" style="width:80%">
                    @_localizationService.Localize("Includes")
                </label>
                <i class="fa fa-plus" id="addIncludeBtn" style="cursor: pointer; background: #624bff; padding: 5px; color: #fff; border-radius: 50%;"></i>
                <div id="addInclude">
                    @if (Model.includes != null && Model.includes.Count>0)
                    {
                        <textarea type="text" value="@Model.includes[0].includeText" id="include" class="form-control">@Model.includes[0].includeText</textarea>
                        Model.includes.RemoveAt(0);
                        foreach (var include in Model.includes)
                        {
                            <div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i> <textarea value="@include.includeText" type='text' class='form-control' style='margin: 5px 0px'>@include.includeText</textarea></div>
                        }
                    }

            </div>
                <span id="includeRequired" style="color:red"></span>
            </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="exclude" style="width:80%">
                    @_localizationService.Localize("Excludes")
                </label>
                <i class="fa fa-plus" id="addExcludeBtn" style="cursor: pointer; background: #624bff; padding: 5px; color: #fff; border-radius: 50%;"></i>
                <div id="addExclude">
                    @if (Model.excludes != null && Model.excludes.Count > 0)
                    {
                        <textarea value="@Model.excludes[0].excludeText" id="exclude" class="form-control">@Model.excludes[0].excludeText</textarea>
                    
                        Model.excludes.RemoveAt(0);
                        foreach (var exclude in Model.excludes)
                        {
                            <div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i> <textarea value="@exclude.excludeText" type='text' class='form-control' style='margin: 5px 0px'>@exclude.excludeText</textarea></div>
                        }
                    }
                </div>
                <span id="excludeRequired" style="color:red"></span>

            </div>
            <div  class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="Expect" style="width:80%">
                    @_localizationService.Localize("Expects")
                </label>
                <i class="fa fa-plus" id="addExpectBtn" style="cursor: pointer; background: #624bff; padding: 5px; color: #fff; border-radius: 50%;"></i>
                <div id="addExpect">
                    @if (Model.expects != null && Model.expects.Count > 0)
                    {
                        <textarea value="@Model.expects[0].details" id="expect" class="form-control">@Model.expects[0].details</textarea>
                        Model.expects.RemoveAt(0);
                        foreach (var expect in Model.expects)
                        {
                            <div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i> <textarea value="@expect.details" type='text' class='form-control' style='margin: 5px 0px'>@expect.details</textarea></div>
                        }
                    }
                </div>
                <span id="expectRequired" style="color:red"></span>
            </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="packup" style="width:80%">
                    @_localizationService.Localize("Packups")
                </label>
                <i class="fa fa-plus" id="addPackBtn" style="cursor: pointer; background: #624bff; padding: 5px; color: #fff; border-radius: 50%;"></i>
                <div id="addPack">
                    @if (Model.packs != null && Model.packs.Count > 0)
                    {
                        <textarea value="@Model.packs[0].title" id="pack" class="form-control">@Model.packs[0].title</textarea>
                        Model.packs.RemoveAt(0);
                        foreach (var pack in Model.packs)
                        {
                            <div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i> <textarea value="@pack.title" type='text' class='form-control' style='margin: 5px 0px'>@pack.title</textarea></div>
                        }
                    }
                </div>
                <span id="packRequired" style="color:red"></span>
            </div>
            <div class="col-xs-12 col-md-4" style="margin:20px 0px;">
                <label class="form-label" for="additionalInformation" style="width:80%">
                    @_localizationService.Localize("AdditionalInformation")
                </label>
                <i class="fa fa-plus" id="addadditionalInformationBtn" style="cursor: pointer; background: #624bff; padding: 5px; color: #fff; border-radius: 50%;"></i>
                <div id="addadditionalInformation">
                    @if (Model.additionalInformations != null && Model.additionalInformations.Count > 0)
                    {
                        <textarea value="@Model.additionalInformations[0].details" id="additionalInformation" class="form-control">@Model.additionalInformations[0].details</textarea>
                        Model.additionalInformations.RemoveAt(0);
                        foreach (var additionalInformation in Model.additionalInformations)
                        {
                            <div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i> <textarea value="@additionalInformation.details" type='text' class='form-control' style='margin: 5px 0px'>@additionalInformation.details</textarea></div>
                        }
                    }
                </div>
                <span id="additionalInformationRequired" style="color:red"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" id="addTourBtn">@_localizationService.Localize("Save")</button>
            </div>
        </div>
    </div>
   
}


<script>
    function test(selectedOptions) {
        var val = "";
        for (var i = 0; i < selectedOptions.length; i++) {
            val += selectedOptions[i].id + ",";
        }
    }
    $(document).ready(function () {
        $(document).on('change', '#language', function () {
            $("#languageId").val($(this).val());
        });
        $('#addTourBtn').on("click", function (e) {
            e.preventDefault();
            //validation
            if ($("#title").val() == '') {
                $("#titleRequired").text("required");
                return false;
            } else {
                $("#titleRequired").text("");
            }
            if ($("#duration").val() == '') {
                $("#durationRequired").text("required");
                return false;
            } else {
                $("#durationRequired").text("");
            }
            if ($("#tourLocation").val() == '') {
                $("#tourLocationRequired").text("required");
                return false;
            } else {
                $("#tourLocationRequired").text("");
            }
            if ($("#pickupLocation").val() == '') {
                $("#pickupLocationRequired").text("required");
                return false;
            } else {
                $("#pickupLocationRequired").text("");
            }
            if ($("#dropOff").val() == '') {
                $("#dropOffRequired").text("required");
                return false;
            } else {
                $("#dropOffRequired").text("");
            }
            if ($("#tourType").val() == '') {
                $("#tourTypeRequired").text("required");
                return false;
            } else {
                $("#tourTypeRequired").text("");
            }
            if ($("#language").val() == '') {
                $("#languageRequired").text("required");
                return false;
            } else {
                $("#languageRequired").text("");
            }
            if ($("#overview").val() == '') {
                $("#overviewRequired").text("required");
                return false;
            } else {
                $("#overviewRequired").text("");
            }
            if ($("#highlights").val() == '') {
                $("#highlightsRequired").text("required");
                return false;
            } else {
                $("#highlightsRequired").text("");
            }
            if ($("#adultPrice").val() == '') {
                $("#adultPriceRequired").text("required");
                return false;
            } else {
                $("#adultPriceRequired").text("");
            }
            if ($("#childPrice").val() == '') {
                $("#childPriceRequired").text("required");
                return false;
            } else {
                $("#childPriceRequired").text("");
            }
            if ($("#infantPrice").val() == '') {
                $("#infantPriceRequired").text("required");
                return false;
            } else {
                $("#infantPriceRequired").text("");
            }
            if ($("#capacity").val() == '') {
                $("#capacityRequired").text("required");
                return false;
            } else {
                $("#capacityRequired").text("");
            } 
            if ($("#field2").val() == '') {
                $("#dayRequired").text("required");
                return false;
            } else {
                $("#dayRequired").text("");
            }
            if ($("#include").val() == '') {
                $("#includeRequired").text("required");
                return false;
            } else {
                $("#includeRequired").text("");
            }
            if ($("#exclude").val() == '') {
                $("#excludeRequired").text("required");
                return false;
            } else {
                $("#excludeRequired").text("");
            }
             if ($("#expect").val() == '') {
                $("#expectRequired").text("required");
                return false;
            } else {
                $("#expectRequired").text("");
            }
            if ($("#pack").val() == '') {
                $("#packRequired").text("required");
                return false;
            } else {
                $("#packRequired").text("");
            }
            if ($("#additionalInformation").val() == '') {
                $("#additionalInformationRequired").text("required");
                return false;
            } else {
                $("#additionalInformationRequired").text("");
            }
            var includes = [];
            var excludes = [];
            var packs = [];
            var additionalInformations = [];
            var expects = [];
            $('#addInclude').children('textarea').each(function () {
                var include = {
                    "includeText": this.value,
                };
                includes.push(include);
            });
            $('#addInclude div').children('textarea').each(function () {
                var include = {
                    "includeText": this.value,
                };
                includes.push(include);
            });
            $('#addExclude').children('textarea').each(function () {
                var exclude = {
                    "excludeText": this.value,
                };
                excludes.push(exclude);
            });
            $('#addExclude div').children('textarea').each(function () {
                var exclude = {
                    "excludeText": this.value,
                };
                excludes.push(exclude);
            });
            $('#addExpect').children('textarea').each(function () {
                var expect = {
                    "details": this.value,
                };
                expects.push(expect);
            });
            $('#addExpect div').children('textarea').each(function () {
                var expect = {
                    "details": this.value,
                };
                expects.push(expect);
            });
            $('#addPack').children('textarea').each(function () {
                var pack = {
                    "title": this.value,
                };
                packs.push(pack);
            });
            $('#addPack div').children('textarea').each(function () {
                var pack = {
                    "title": this.value,
                };
                packs.push(pack);
            });
            $('#addadditionalInformation').children('textarea').each(function () {
                var additionalInformation = {
                    "details": this.value,
                };
                additionalInformations.push(additionalInformation);
            });
            $('#addadditionalInformation div').children('textarea').each(function () {
                var additionalInformation = {
                    "details": this.value,
                };
                additionalInformations.push(additionalInformation);
            });
            var selectedDays = [];
          
            for (var i = 0; i < $("#field2").val().length; i++) {
                var day = {
                    "dayId": $("#field2").val()[i],
                };
                selectedDays.push(day);
            }
            var id = $("#tourId").val();
            var tour = {};
            tour.tour = {};
            tour.tour.tourId = id;
            tour.tour.title = $("#title").val();
            tour.tour.duration = $("#duration").val();
            tour.tour.tourLocation = $("#tourLocation").val();
            tour.tour.pickupLocation = $("#pickupLocation").val();
            tour.tour.dropOff = $("#dropOff").val();
            tour.tour.tourType = $("#tourType").val();
            tour.tour.highlights = $("#highlights").val();
            tour.tour.overview = $("#overview").val();
            tour.tour.languageId = $("#language").val();
            tour.tour.capacity = $("#capacity").val();
            tour.tour.adultPrice = $("#adultPrice").val();
            tour.tour.childPrice = $("#childPrice").val();
            tour.tour.infantPrice = $("#infantPrice").val();
            tour.tour.tourType = $("#tourType").val();
            tour.includes = includes;
            tour.excludes = excludes;
            tour.expects = expects;
            tour.packs = packs;
            tour.additionalInformations = additionalInformations;
            tour.days = selectedDays;
            $.ajax({
                url: "/Tour/Edit",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(tour),
                success: function (data) {
                    if (data.status == true) {
                        Swal.fire({
                            title: data.title,
                            text: data.message,
                            icon: "success",
                            timer: 1500
                        });
                        setTimeout(function () {
                            location.href = document.referrer;
                        }, 1500);
                    } else {
                        Swal.fire({
                            title: data.title,
                            text: data.message,
                            icon: "error",
                            timer: 1500
                        });
                    }
                }
            });
        });
        $("#addIncludeBtn").click(function () {
            $("#addInclude").append("<div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i>  <textarea  class='form-control' style='margin:5px 0px'></textarea></div>");
        });
        $("#addExcludeBtn").click(function () {
            $("#addExclude").append("<div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i>  <textarea class='form-control' style='margin:5px 0px'></textarea></div>");
        });
        $("#addExpectBtn").click(function () {
            $("#addExpect").append(" <div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i> <textarea  class='form-control' style='margin:5px 0px'></textarea></div>");
        });
        $("#addPackBtn").click(function () {
            // $("#addPack").append(" <input type='text'  class='form-control' style='margin:5px 0px'/>");
            $("#addPack").append(" <div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i> <textarea class='form-control' style='margin: 5px 0px'></textarea></div>");
        });
        $("#addadditionalInformationBtn").click(function () {
            // $("#addPack").append(" <input type='text'  class='form-control' style='margin:5px 0px'/>");
            $("#addadditionalInformation").append(" <div style='position: relative; '> <i onclick='remove(event)' class='fa fa-trash' style='position: absolute; right: -15px; top: 15px; '></i> <textarea class='form-control' style='margin: 5px 0px'></textarea></div>");
        });
    });
    function remove(e) {
        $(event.target).parent().remove();
    }
</script>