@model MWS.Data.Entities.Contact;
@using TripBusiness.Ibusiness;
@inject ILocalizationService _localizationService;
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_layout.cshtml";
    var contacts = ViewBag.contacts;
}
<!--Start image section-->
<div class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="animated fadeInDown">
        <img alt="contact us" src="~/images/contact-us.jpg" style="width:100%;background-repeat:no-repeat;background-size:cover;height:90vh;" />
        <div class="overlaySlider"></div>
    </div>
</div>
<!--Start form-->
<div class="col-xs-12 col-md-6" style="margin:60px auto; border: 1px solid #eee;  border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px">
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10" style="margin:50px auto">
            <div id="contextual-classes" class="mb-4" style="margin:40px;">
            <p style="font-size:25px;font-weight: bold;"> @_localizationService.Localize("ContactUs")</p>
            </div>
        <div class="modal-body">
            @using (Html.BeginForm("Add", "ContactUs", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.contactId, new { @id = "contactId", @class = "form-control", style = "display:none" })

                <div class="mb-3">
                    <label class="form-label" for="name">
                        @_localizationService.Localize("Name")
                    </label>
                    @Html.TextBoxFor(m => m.name, new { @id = "name", @class = "form-control", required = "required" })
                    <span id="nameRequired" style="color:red"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">
                        @_localizationService.Localize("Email")
                    </label>
                    @Html.TextBoxFor(m => m.email, new { @id = "email", @class = "form-control", required = "required" })
                    <span id="emailRequired" style="color:red"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">
                        @_localizationService.Localize("Phone")
                    </label>
                    @Html.TextBoxFor(m => m.phone, new { @id = "phone", type="number", @class = "form-control", required = "required" })
                    <span id="phoneRequired" style="color:red"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="numberOfAdult">
                        @_localizationService.Localize("NumberOfAdult")
                    </label>
                    <input type="number" value="0" class="form-control" id="numberOfAdult" />
                    <span id="numberOfAdultRequired" style="color:red"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="numberOfChild">
                        @_localizationService.Localize("NumberOfChild")
                    </label>
                    <input type="number" value="0" class="form-control" id="numberOfChild" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="numberOfInfant">
                        @_localizationService.Localize("NumberOfInfant")
                    </label>
                    <input type="number" value="0" class="form-control" id="numberOfInfant" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="message">
                        @_localizationService.Localize("Message")
                    </label>
                    @Html.TextAreaFor(m => m.message, new { @id = "message", @class = "form-control", required = "required" })
                    <span id="messageRequired" style="color:red"></span>
                </div>
                <div class="d-grid">
                    <button style="background-color:#007bff" type="submit" class="btn btn-primary" id="formUserBtn">@_localizationService.Localize("Send")</button>
                </div>
            }
        </div>
        </div>
    </div>
<!-- Modal -->


<script type="text/javascript">
    $(document).ready(function () {
        $('#formUserBtn').on("click", function (e) {
            e.preventDefault();
            if ($(".modal-body #name").val() == '') {
                $(".modal-body #nameRequired").text("required");
                return false;
            } else {
                $(".modal-body #nameRequired").text("");
            }
            if ($(".modal-body #email").val() == '') {
                $(".modal-body #emailRequired").text("required");
                return false;
            } else {
                $(".modal-body #emailRequired").text("");
            }
            if ($(".modal-body #phone").val() == '') {
                $(".modal-body #phoneRequired").text("required");
                return false;
            } else {
                $(".modal-body #phoneRequired").text("");
            }
            if ($(".modal-body #numberOfAdult").val() == '0') {
                $(".modal-body #numberOfAdultRequired").text("required");
                return false;
            } else {
                $(".modal-body #numberOfAdultRequired").text("");
            }
            if ($(".modal-body #message").val() == '') {
                $(".modal-body #messageRequired").text("required");
                return false;
            } else {
                $(".modal-body #messageRequired").text("");
            }
            var userUpdate = {};
            userUpdate.name = $(".modal-body #name").val();
            userUpdate.email = $(".modal-body #email").val();
            userUpdate.phone = $(".modal-body #phone").val();
            userUpdate.message = $(".modal-body #message").val();
            userUpdate.numberOfAdult = $(".modal-body #numberOfAdult").val();
            userUpdate.numberOfChild = $(".modal-body #numberOfChild").val();
            userUpdate.numberOfInfant = $(".modal-body #numberOfInfant").val();
            $("#preloader").css({ "visibility": "visible", "opacity": 1 });
            $.ajax({
                url: "/ContactUs/Add",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(userUpdate),
                success: function (data) {
                    if (data.status == true) {
                        localStorage.setItem("contactTitle", data.title);
                        localStorage.setItem("contactMessage", data.message);
                        $("#preloader").css({ "visibility": "hidden", "opacity": 0 });
                        location.href = "/";
                    } else {
                        $("#preloader").css({ "visibility": "hidden", "opacity": 0 });
                        $.toast({
                            heading: data.title,
                            text: data.message,
                            showHideTransition: 'slide',
                            position: 'top-right',
                            icon: 'error',
                            bgColor: '#007bff',
                        });
                    }
                },
                error: function (error) {
                    $.toast({
                        heading: 'Contact',
                        text: 'Message Not Sent',
                        showHideTransition: 'slide',
                        position: 'top-right',
                        icon: 'error',
                        bgColor: '#007bff',
                    });
                }
            });
        });
    });
    function viewcontact(id,name) {
        $(".modal-body #contactId").val(id);
        $(".modal-body #contactName").val(name);
        }
</script>