@using MWS.Business.Shared.Data.Models
@using Newtonsoft.Json
@using TripBusiness.Ibusiness
@inject ILocalizationService _localizationService;
@model MWS.Data.Entities.Faq;
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var value = ViewContext.HttpContext.Session.GetString("currentUser");
    UserDTO currentUser = JsonConvert.DeserializeObject<UserDTO>(value);
    var hasAddPermission = currentUser?.permissions.Where(e => e.permissionAction == "add" && e.permissionArea == "faq").ToList().Count;
    var hasEditPermission = currentUser?.permissions.Where(e => e.permissionAction == "edit" && e.permissionArea == "faq").ToList().Count;
    var hasDeletePermission = currentUser?.permissions.Where(e => e.permissionAction == "delete" && e.permissionArea == "faq").ToList().Count;
    var faqs = ViewBag.faqs;
    var languages = ViewBag.languages;
}



<div class="container">
    <div id="contextual-classes" style="margin:50px auto">
            @if (hasAddPermission > 0)
            {
                <div class="col-sm-6 col-xl-3">
                    <div class="card" style="min-height:125px;">
                        <div class="row">
                            <div class="col-sm-5">
                                <div>
                                    <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/illustrations/lady-with-laptop-light.png" class="img-fluid" alt="Image" width="120" data-app-light-img="illustrations/lady-with-laptop-light.png" data-app-dark-img="illustrations/lady-with-laptop-dark.png" style="visibility: visible;">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body   ps-sm-0">
                                    <span class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" style="margin:0px 10px;"></i> Add</span>
                                    <p class="mb-0" style="margin-top: 15px; text-align: left;">
                                        Add new term
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    <div class="col-xl-12" style="margin:50px auto">
        <div class="card">
            <div class="p-0 card-body">
                <div class="tab-content">
                    <div role="tabpanel" id="react-aria-101-tabpane-design" aria-labelledby="react-aria-101-tab-design" class="fade pb-4 p-4 tab-pane active show">
                        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">
                                        @_localizationService.Localize("question")
                                    </th>
                                    <th scope="col">
                                        @_localizationService.Localize("answer")
                                    </th>
                                    <th scope="col">
                                        @_localizationService.Localize("order")
                                    </th>
                                    <th scope="col">
                                        @_localizationService.Localize("language")
                                    </th>
                                    <th scope="col">
                                        @_localizationService.Localize("Actions")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @foreach (var faq in faqs)
                                {
                                    <tr>
                                        <td>
                                            @faq.question
                                        </td>
                                        <td>
                                            @faq.answer
                                        </td>
                                        <td>
                                            @faq.orderId
                                        </td>
                                        <td>
                                            @faq.languageName
                                        </td>
                                        <td>
                                            @if (hasDeletePermission > 0)
                                            {
                                                <span style="margin:0px 5px;cursor:pointer" onclick="DeleteFaq(@faq.faqId)"><i style="color: #dc3545;" class="fa fa-trash "></i></span>
                                            }
                                            @if (hasEditPermission > 0)
                                            {
                                                <span onclick="editFaq(@faq.faqId)" class="" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal"><i style="color:#624bff;" class="fa fa-edit"></i></span>
                                            }
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-question" id="exampleModalLabel">Edit Pricing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("add", "", FormMethod.Post, new { @id = "formUser" }))
                {
                    @Html.TextBoxFor(m => m.faqId, new { @id = "faqId", @class = "form-control", style = "display:none" })
                    <div class="mb-3">
                        <label class="form-label" for="question">
                            @_localizationService.Localize("question")
                        </label>
                        @Html.TextBoxFor(m => m.question, new { type = "text", @id = "question", @class = "form-control",  required = "required" })
                        <span id="questionRequired" style="color:red"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="answer">
                            @_localizationService.Localize("answer")
                        </label>
                        @Html.TextAreaFor(m => m.answer, new { @id = "answer", @class = "form-control", required = "required" })
                        <span id="answerRequired" style="color:red"></span>
                    </div>
                    <div class="mb-3" id="languageDiv">
                        <label class="form-label" for="language">
                            @_localizationService.Localize("language")
                        </label>
                        @Html.TextBoxFor(m => m.languageId, new { @id = "languageId", @class = "form-control", style = "display:none" })
                        <select name="language" class="form-select" id="language">
                            @foreach (var language in languages)
                            {
                                <option value="@language.languageId">@language.languageName</option>
                            }
                        </select>
                        <span id="languageRequired" style="color:red"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="order">
                            @_localizationService.Localize("order")
                        </label>
                        @Html.TextBoxFor(m => m.orderId, new { type = "number", @id = "order", @class = "form-control", required = "required" })
                        <span id="orderRequired" style="color:red"></span>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary" id="formUserBtn">
                            @_localizationService.Localize("Save")
                        </button>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@_localizationService.Localize("Cancel")</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#exampleModal').on('hidden.bs.modal', function () {
            // do something…
            clearData();
        })
        $('#formUserBtn').on("click", function (e) {
            //validation
            if ($(".modal-body #question").val() == '') {
                $(".modal-body #questionRequired").text("required");
                return false;
            } else {
                $(".modal-body #questionRequired").text("");
            }
            if ($(".modal-body #answer").val() == '') {
                $(".modal-body #answerRequired").text("required");
                return false;
            } else {
                $(".modal-body #answerRequired").text("");
            }
            if ($(".modal-body #language").val() == '') {
                $(".modal-body #languageRequired").text("required");
                return false;
            } else {
                $(".modal-body #languageRequired").text("");
            }
            if ($(".modal-body #order").val() == '') {
                $(".modal-body #orderRequired").text("required");
                return false;
            } else {
                $(".modal-body #orderRequired").text("");
            }
            e.preventDefault();
            var userUpdate = {};
            userUpdate.question = $(".modal-body #question").val();
            userUpdate.answer = $(".modal-body #answer").val();
            userUpdate.orderId = $(".modal-body #order").val();
            if ($(".modal-body #faqId").val() != '')
                userUpdate.faqId = $(".modal-body #faqId").val();

            if ($(".modal-body #faqId").val() == "") {
                userUpdate.languageId = $(".modal-body #language").val();
                $.ajax({
                    url: "/faq/add",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(userUpdate),
                    success: function (data) {
                        if (data.status == true) {
                            Swal.fire({
                                question: data.question,
                                text: data.message,
                                icon: "success",
                                timer: 1500,
                                iconColor: '#132649',
                                confirmButtonColor: '#132649'
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        } else {
                            Swal.fire({
                                question: data.question,
                                text: data.message,
                                icon: "error",
                                timer: 1500,
                                iconColor: '#132649',
                                confirmButtonColor: '#132649'
                            });
                        }
                    },
                    error: function (error) {
                        console.log("e");
                    }
                });
            } else {
                userUpdate.languageId = $(".modal-body #language").val();
                userUpdate.faqId = $(".modal-body #faqId").val();
                $.ajax({
                    url: "/faq/edit",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(userUpdate),
                    success: function (data) {
                        if (data.status == true) {
                            Swal.fire({
                                question: data.question,
                                text: data.message,
                                icon: "success",
                                timer: 1500,
                                iconColor: '#132649',
                                confirmButtonColor: '#132649'
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        } else {
                            Swal.fire({
                                question: data.question,
                                text: data.message,
                                icon: "error",
                                timer: 1500,
                                iconColor: '#132649',
                                confirmButtonColor: '#132649'
                            });
                        }
                    }
                });
            }

        });

        $('#demoGrid').dataTable({
        });
        $(document).on('change', '#language', function () {
            $(".modal-body #language").val($(this).val());
        });
    });
    function DeleteFaq(id) {
        $.ajax({
            url: "/faq/Delete/" + id,
            type: "GET",
            cache: false,
            success: function (data) {
                if (data.status == true) {
                    Swal.fire({
                        question: data.question,
                        text: data.message,
                        icon: "success",
                        timer: 1500,
                        iconColor: '#132649',
                        confirmButtonColor: '#132649'
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                } else {
                    Swal.fire({
                        question: data.question,
                        text: data.message,
                        icon: "error",
                        timer: 1500,
                        iconColor: '#132649',
                        confirmButtonColor: '#132649'
                    });
                }
            }
        });
    }
   
    function editFaq(id) {
    $.ajax({
        url: "/faq/getFaqById/" + id,
        type: "GET",
        cache: false,
        success: function (data) {
            console.log(data);
            $(".modal-body #faqId").val(data.faqId);
                $(".modal-body #question").val(data.question);
            $(".modal-body #language").val(data.languageId);
            $(".modal-body #order").val(data.orderId);
            $(".modal-body #answer").val(data.answer);
            }
    });
   
}
    function clearData() {
        $(".modal-body #faqId").val("");
        $(".modal-body #question").val("");
        $(".modal-body #answer").val("");
        $(".modal-body #order").val("");
    }
</script>