@using TripBusiness.Ibusiness
@inject ILocalizationService _localizationService;
@model List<MWS.Data.Entities.TourAttachment>;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    var attachments = ViewBag.attachments;
    var blog = ViewBag.blog;
    var recentLogs = ViewBag.recentLogs;
    var currentId = ViewBag.currentId;
}
<div class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="animated fadeInDown">
        <img src="~/images/blogSingle.jpg" style="width:100%;background-repeat:no-repeat;background-size:cover;height:90vh;" alt="main tour image" />
        <div class="overlaySlider"></div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">@blog.title</h2>
                <p style="margin: 30px 0px 37px 0px; line-height: 2.3;">@blog.description</p>
                <p>
                    <img style="width:80%;height:400px;" src="/Files/@attachments[0].attachmentPath" alt="@blog.title" class="img-fluid">
                </p>
                @* <div class="tag-widget post-tag-container mb-5 mt-5">
                <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Life</a>
                <a href="#" class="tag-cloud-link">Sport</a>
                <a href="#" class="tag-cloud-link">Tech</a>
                <a href="#" class="tag-cloud-link">Work</a>
                </div>
                </div> *@
            </div>
            <div class="col-lg-4 sidebar ftco-animate pl-md-5 mt-5 mt-md-5 fadeInUp ftco-animated">
                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    @if (recentLogs != null && recentLogs.Count >0){
                        <h3>@_localizationService.Localize("RelatedBlog")</h3>
                        @foreach (var b in recentLogs)
                        {
                            var mainImage = Model.Where(e => e.tourId == b.blogId && e.type == "blog").ToList();
                            <div class="block-21 mb-4 d-flex justify-content-between">
                                <a class="blog-img" style="background-image: url('/Files/@mainImage[0].attachmentPath');"></a>
                                <div class="text pl-3">
                                    <h3 class="heading"><a href="#">@b.title</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="fa fa-calendar"></span>@b.creationDate</a></div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            @* <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                <h3>@_localizationService.Localize("Tags")</h3>
                <div class="tagcloud">
                    @foreach(var t in tags)
                    {
                        <a href="#" class="tag-cloud-link">@t</a>
                    }
                </div>
            </div> *@
        </div>
    </div>
</section>