@using MWS.Data.Enums
@model ProfileModel
@{
    ViewBag.WeekDayNames = Enum.GetNames(typeof(WeekDays)).ToList();
    var userId = ViewBag.userId;
    var packages = ViewBag.Pacakges;
}
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
<style>
.card {
    background-color: #292e3a;
    border: 1px solid #383839;
    position: relative;
    border-radius:5px;
}

.card-title {
    color: #ffffff;
}

.card-subtitle {
    color: #bbb;
}

.icon-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-buttons i {
    color: #bbb;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s;
}

.icon-buttons i:hover {
    color: #fff;
}

/* Initially hidden */
.form-container2 {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    background:none;
    margin-top:30px;
    max-height: 0;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

/* When active */
.form-container2.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    max-height: 500px; /* Must be large enough to fit the form */
}
.labelNote{
    color: rgba(255, 255, 255, 0.7);
}
/* .photoUpload-files{
    display:none;
} */
 @@media (max-width: 768px) {
    #basciInfoBtn {
      margin-top:5% !important;
    }
  }

.input-group select {
    position: absolute !important;
    z-index: 7 !important;
    width: 15% !important;
    border-radius: 0 !important;
    height: 49px !important;
    right: 0px !important;
    background: transparent !important;
    border: navajowhite !important;
    border-left: 1px solid !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
    color: #fff !important;
    border-radius: 0 !important;
    appearance:auto;
}

.input-group select:focus {
        box-shadow:none;
}

.input-group select option {
    background-color: #292e3a !important; /* Background of dropdown items */
    color: #fff !important;
    border-radius: 0 !important;
}
</style>
<div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <div class="dashbard-menu-overlay" style="display: none;"></div>
    <div class="dashbard-menu-wrap">
        <div class="dashbard-menu-close"><i class="fa fa-times"></i></div>
        <div class="dashbard-menu-container">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Main</h3>
                <ul class="no-list-style">
                    <li><a href="dashboard.html"><i class="fa fa-chart-line"></i>Dashboard</a></li>
                    <li><a href="dashboard-myprofile.html"><i class="fa fa-user-edit"></i> Edit profile</a></li>
                    <li><a href="dashboard-messages.html"><i class="fa fa-envelope"></i> Messages <span>3</span></a></li>
                    <li>
                        <a href="#" class="submenu-link"><i class="fa fa-plus"></i>Submenu</a>
                        <ul class="no-list-style">
                            <li><a href="#"><i class="fa fa-th-list"></i> Submenu 2 </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- user-profile-menu end-->
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Listings</h3>
                <ul class="no-list-style">
                    <li><a href="dashboard-review.html"><i class="fa fa-comments-alt"></i> Reviews <span>2</span> </a></li>
                    <li><a href="dashboard-add-listing.html" class="user-profile-act"><i class="fa fa-file-plus"></i> Add New</a></li>
                </ul>
            </div>
            <!-- user-profile-menu end-->
        </div>
    </div>
    <!-- dashbard-menu-wrap end  -->
    <!-- content -->
    <div class="dashboard-content">
        <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
        <div class="container dasboard-container">
            <!-- dashboard-title -->
            <div class="dashboard-title fl-wrap">
                <div class="dashboard-title-item"><span>Add Listing</span></div>
                <div class="dashbard-menu-header">
                    <div class="dashbard-menu-avatar fl-wrap">
                        <img src="./img/avatar/5.jpg" alt="">
                        <h4>Welcome, <span>Alica Noory</span></h4>
                    </div>
                    <a href="index.html" class="log-out-btn   tolt" data-microtip-position="bottom" data-tooltip="Log Out"><i class="fa fa-power-off"></i></a>
                </div>
                <!--Tariff Plan menu-->
                <div class="tfp-det-container">
                    <div class="tfp-btn"><span>Your Tariff Plan : </span> <strong>Extended</strong> <i class="fa fa-caret-down"></i></div>
                    <div class="tfp-det">
                        <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                        <a href="#" class="tfp-det-btn color-bg">Details</a>
                    </div>
                </div>
                <!--Tariff Plan menu end-->
            </div>
            <!-- dashboard-title end -->
            <div class="dasboard-wrapper fl-wrap no-pag">
                <div class="dasboard-scrollnav-wrap scroll-init2 fl-wrap" style="z-index: auto; position: relative; top: 0px;">
                    <ul>
                        <li><a href="#sec1" class="act-scrlink">Info</a></li>
                        <li><a href="#sec2" class="">Packages</a></li>
                        <li><a href="#sec3" class="">Portfolio</a></li>
                        <li><a href="#sec4" class="">Availability</a></li>
                    </ul>
                    <div class="progress-indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
                            <circle cx="16" cy="16" r="15.9155" class="progress-bar__background"></circle>
                            <circle cx="16" cy="16" r="15.9155" class="progress-bar__progress
                                        js-progress-bar" style="stroke-dashoffset: 100px;"></circle>
                        </svg>
                    </div>
                </div><div style="display: none; width: 1056.6px; height: 56.7614px; float: left;"></div>
                <!-- dasboard-widget-title -->
                <div class="dasboard-widget-title fl-wrap" id="sec1">
                    <h5><i class="fas fa-info"></i>Basic Informations</h5>
                </div>
                <!-- dasboard-widget-title end -->
                <!-- dasboard-widget-box  -->
                <div class="dasboard-widget-box fl-wrap">
                    <form asp-action="Update" method="post" id="basciInfo" enctype="multipart/form-data">
                        <div class="custom-form">
                            <div class="row">
                                <input asp-for="userId" type="hidden" class="form-control"/>
                                @Html.TextBoxFor(m => m.userId, new { @id = "userId", @class = "form-control", style = "display:none" })
                                <div class="col-sm-4">
                                    <label>
                                        Full name
                                        <span class="dec-icon"><i class="fa fa-user"></i></span>
                                    </label>
                                    <input asp-for="basicInfo.FullName" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        Email
                                        <span class="dec-icon"><i class="fa fa-envelope"></i></span>
                                    </label>
                                    <input asp-for="basicInfo.Email" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        Phone
                                        <span class="dec-icon"><i class="fa fa-phone"></i> </span>
                                    </label>
                                    <input asp-for="basicInfo.Phone" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        Experience years
                                        <span class="dec-icon"><i class="fa fa-clock"></i> </span>
                                    </label>
                                    <input type="text" title="Enter a number between 0 and 40"  pattern="^(?:[0-9]|[1-3][0-9]|40)$" required asp-for="basicInfo.experience_years" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>City</label>
                                    <select id="citySelect" asp-for="basicInfo.City" style="background: #292e3a;border-color: rgba(255, 255, 255, 0.1);color: #fff;padding: 12px;border-radius: 4px;" class="form-control">
                                        <option value="" disabled>Select a City</option>
                                        @foreach (var city in Model.basicInfo.Cities)
                                        {
                                            if (city.name == Model.basicInfo.City)
                                            {
                                            <option value="@city.id"  selected>@city.name</option>
                                            }
                                            else
                                            {
                                                <option value="@city.id">@city.name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label>Category</label>
                                    <select asp-for="basicInfo.SelectedCategories" asp-items="Model.basicInfo.AvailableCategories" id="multiSelect" required multiple class="form-control multi-select">
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                        <label>
                                            Bio
                                        </label>
                                    <textarea style="height: 100px;" asp-for="basicInfo.bio" class="form-control" placeholder=""></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        Profile Picture
                                    </label>
                                    <div style="width:100px;height:100px;border-radius:50%;position:relative;">
                                        <i id="uploadProfile" class="fas fa-pen-to-square" style="position: absolute; top: 35px; left: 90px; color: #fff; cursor: pointer;"></i>
                                        @if (Model.basicInfo.ProfilePicPath != null)
                                        {
                                            <img src="/Files/@Model.basicInfo.ProfilePicPath" id="previewImage" style="height: 100%;background: #292e3a; border-radius: 50%; width: 100%;">
                                        }else{
                                            <img src="/images/manage-cms.png" id="previewImage" style="height: 100%;background: #292e3a; border-radius: 50%; width: 100%;">
                                        }
                                        <input type="file" id="profilePic" name="files" class="upload" hidden>
                                    </div>
                                </div>
                                <div class="col-sm-2" style="margin:auto;">
                                    <button id="basciInfoBtn" style="width: 100%;margin-top:30%;" type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                </div>
                            </div>
                           
                        </div>
                    </form>

                </div>
                <!-- dasboard-widget-box  end-->
                <!-- dasboard-widget-title -->
                <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec2">
                    <h5><i class="fas fa-street-view"></i>Packages</h5>
                </div>
                <!-- dasboard-widget-title end -->
                <!-- dasboard-widget-box  -->
                <div class="dasboard-widget-box fl-wrap">
                    <div class="row" style="border-bottom: 1px solid #282727;">
                        @if (Model.packageInfo.userPackages.Count > 0){
                            <h4 style="color: #fff; font-family: ui-serif; font-size: 25px;">current pacakges</h4>
                            @foreach (var package in Model.packageInfo.userPackages)
                            {
                                <div class="col-sm-3" style="margin: 20px;border-radius: 5px;  color: #fff; font-family: ui-serif;">
                                    <div class="card p-3 package-card">
                                        <div class="icon-buttons">
                                            <i class="fas fa-pen-to-square edit-btn"
                                               data-packageId="@package.id"
                                               data-title="@package.title"
                                               data-price="@package.price"
                                               data-duration="@package.duration"
                                               data-deliverables="@package.deliverables"
                                               data-description="@package.description"
                                               title="Edit"></i>
                                            <i data-packageId="@package.id" class="fas fa-trash delete-btn" title="Delete"></i>
                                        </div>
                                        <div>
                                            <h5 class="card-title">@package.title</h5>
                                            <h6 class="card-subtitle mb-2">@package.price</h6>
                                            <p class="card-text">@package.description</p>
                                        </div>
                                    </div>  
                                </div>
                            }
                        }
                        @if (Model.packageInfo.userPackages.Count < 3)
                        {
                            <div class="col-sm-3" style="margin: auto;">
                                <button style="width: 100%;margin-top: 30px;" type="submit" class="addBtn btn btn-primary">
                                    Add Package
                                </button>
                            </div>
                        }
                    </div>
                    <div class="form-container2" sy>
                        <form asp-action="Update" method="post" id="packageInfo" enctype="multipart/form-data">
                            @Html.TextBoxFor(m => m.userId, new { @id = "userId", @class = "form-control", style = "display:none" })
                            @Html.TextBoxFor(m => m.packageInfo.id, new { @id = "packageId", @class = "form-control", style = "display:none" })
                            <div class="custom-form">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>
                                            title
                                            <span class="dec-icon"><i class="fa fa-pen-to-square"></i></span>
                                        </label>
                                        <select required id="packageTitle" asp-for="packageInfo.title" style="background: #292e3a;border-color: rgba(255, 255, 255, 0.1);color: #fff;padding: 10px 55px;border-radius: 4px;" class="form-control">
                                            <option value="" disabled>Select a City</option>
                                            @foreach (var packageName in packages)
                                            {
                                                <option value="@packageName">@packageName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            price
                                            <span class="dec-icon"><i class="fa fa-money-bill-wave"></i></span>
                                        </label>
                                        <input id="packagePrice" asp-for="packageInfo.price" required title="Enter only numbers and dot&#10;أدخل الأرقام والنقطة فقط" pattern="^\d+(\.\d+)?$" class="form-control" placeholder="" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            duration <span class="labelNote">* number of hours</span>
                                            <span class="dec-icon"><i class="fa fa-clock"></i> </span>
                                        </label>
                                        <input id="packageDuration" asp-for="packageInfo.duration" required title="Enter only numbers and dot&#10;أدخل الأرقام والنقطة فقط" pattern="^\d+(\.\d+)?$" class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>
                                            deliverables
                                        </label>
                                        <textarea id="packageDeliverables" asp-for="packageInfo.deliverables" required class="form-control" placeholder=""></textarea>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-12">
                                            <label>
                                                description
                                            </label>
                                            <textarea id="packageDescription" asp-for="packageInfo.description" class="form-control" placeholder=""></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-2" style="margin: auto;">
                                        <button style="width: 100%;margin-top: 30px;" type="submit" class="btn btn-primary">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- dasboard-widget-box  end-->
                <!-- dasboard-widget-title -->
                <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec3">
                    <h5><i class="fas fa-image"></i>Portofolio <span class="labelNote"> * Only 5 files are allowed!</span></h5>
                </div>
                <!-- dasboard-widget-title end -->
                <!-- dasboard-widget-box  -->
                <div class="dasboard-widget-box   fl-wrap">
                    <div class="custom-form">
                        <div class="clearfix"></div>
                        <div class="listsearch-input-item fl-wrap">
                            <form id="uploadForm" asp-action="Upload" asp-controller="Tour" method="post" enctype="multipart/form-data">
                                @Html.TextBoxFor(m => m.userId, new { @id = "userId", @class = "form-control", style = "display:none" })
                                <div id="imagePreview" style="border-bottom: 1px solid #252424; margin-bottom: 25px; padding-bottom: 20px;">
                                </div>
                                <div id="selectedImage">
                                </div>
                                <div class="row mt-2" style="border-radius: 5px;">
                                    <div class="col-12" id="showFiles">
                                    </div>
                                </div>
                                <div id="uploadSection">
                                    <div class="fuzone" id="uploadIcon">
                                        <div class="fu-text">
                                            <span><i class="fa fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                            <div class="photoUpload-files fl-wrap"></div>
                                        </div>
                                        <input type="file" id="files" name="files" class="upload" multiple="">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2" style="margin:auto">
                                            <button style="width: 100%;margin-top: 30px;" disabled id="submitFiles" type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- dasboard-widget-box  end-->
                <!-- dasboard-widget-title -->
                <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec4">
                    <h5><i class="fas fa-list"></i>Availability</h5>
                </div>
                <!-- dasboard-widget-title end -->
                <!-- dasboard-widget-box  -->
                <div class="dasboard-widget-box fl-wrap">
                    <form asp-action="Update" method="post" id="availabilityForm">
                        <div class="custom-form">
                            @Html.TextBoxFor(m => m.userId, new { @id = "userId", @class = "form-control", style = "display:none" })
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>
                                        From Hour
                                        <span class="dec-icon"><i class="fa fa-clock"></i></span>
                                    </label>
                                    <div class="input-group">
                                        <input required pattern="^\d+([:]\d+)?$"
                                               title="for example 5:30"
                                               asp-for="availability.fromHour"
                                               class="form-control"
                                               placeholder="for example 5:30" />
                                        <select asp-for="availability.fromPeriod" >
                                            <option value="AM">AM</option>
                                            <option value="PM">PM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        To Hour
                                        <span class="dec-icon"><i class="fa fa-clock"></i></span>
                                    </label>
                                    <div class="input-group">
                                        <input required pattern="^\d+([:]\d+)?$"
                                               title="for example 5:30"
                                               asp-for="availability.toHour"
                                               class="form-control"
                                               placeholder="for example 5:30" />
                                        <select asp-for="availability.toPeriod">
                                            <option value="AM">AM</option>
                                            <option value="PM">PM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        From Day
                                    </label>
                                    <select id="fromDaySelect" name="availability.fromDay" style="background: #292e3a;border-color: rgba(255, 255, 255, 0.1);color: #fff;padding: 12px;border-radius: 4px;" class="form-control">
                                        <option value="" disabled>Select Day</option>
                                        @foreach (var day in (List<string>)ViewBag.WeekDayNames)
                                        {
                                            if (day == Model.availability.fromDay)
                                            {
                                                <option value="@day" selected>@day</option>
                                            }
                                            else
                                            {
                                                <option value="@day">@day</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        To Day
                                    </label>
                                    <select id="toDayfromDaySelect" asp-for="availability.toDay" style="background: #292e3a;border-color: rgba(255, 255, 255, 0.1);color: #fff;padding: 12px;border-radius: 4px;" class="form-control">
                                        <option value="" disabled>Select Day</option>
                                        @foreach (var day in (List<string>)ViewBag.WeekDayNames)
                                        {
                                            if (day == Model.availability.toDay)
                                            {
                                                <option value="@day" selected>@day</option>
                                            }
                                            else
                                            {
                                                <option value="@day">@day</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2" style="margin: auto;">
                                    <button style="width: 100%;margin-top: 30px;" type="submit" class="btn btn-primary">
                                        save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- dasboard-widget-box  end-->
            </div>
        </div>
        <div class="limit-box fl-wrap"></div>
    </div>
    <!-- content end -->
</div>
<!-- Initialize Select2 AFTER all scripts have loaded -->
<script>
    var validateFile = [];
    var profilePic = [];
    var currentSelectionFiles = [];
    function showLoader() {
        $("#nb-global-spinner").css("display", "flex");
    }
    function hideLoader() {
        $("#nb-global-spinner").css("display", "none");
    }
    $(document).ready(function () {
        getAttachment($("#userId").val());
        //add new package
        $(".addBtn").on("click", function () {
            showLoader();
            document.getElementById('packageId').value = null;
            document.getElementById('packageTitle').value = null;
            document.getElementById('packagePrice').value = null;
            document.getElementById('packageDuration').value = null;
            document.getElementById('packageDeliverables').value = null;
            document.getElementById('packageDescription').value = null;
            $(".form-container2").addClass("show");
            setTimeout(function () {
                hideLoader();
            }, 200);
        });
        // This will now work if Select2 loaded correctly
        $('.multi-select').select2({
            placeholder: "Select Categories",
            maximumSelectionLength: 5,
        });
        // Update Basic information ...
        $('#basciInfo').on('submit', function (e) {
            debugger;
            e.preventDefault(); // Prevent default form submission
            showLoader();
            var formData = new FormData(this);
            for (var i = 0; i < profilePic.length; i++) {
                formData.append(i, profilePic[i]);
            }
            $.ajax({
                url: '/Profile/UpdateBasicInfo',
                type: 'POST',
                data: formData,
                contentType: false, // Required for FormData
                processData: false, // Required for FormData
                success: function (data) {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right", // top-left, bottom-right, etc.
                        "timeOut": "10000"
                    };
                    if (data.status == true) {
                        toastr.success(data.message);
                        setTimeout(function () {
                            hideLoader();
                        }, 1500);
                    } else {
                        hideLoader();
                        toastr.error(data.message);
                    }

                }
            });
        });

        // Update package information ...
        $('#packageInfo').on('submit', function (e) {
            e.preventDefault(); // Prevent default form submission
            showLoader();
            var formData = new FormData(this);
            $.ajax({
                url: '/Profile/AddUpdatePackageInfo',
                type: 'POST',
                data: formData,
                contentType: false, // Required for FormData
                processData: false, // Required for FormData
                success: function (data) {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "600000",          // 10 minutes
                        "extendedTimeOut": "6000000",       // No extra time on hover
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    if (data.status == true) {
                        toastr.success(data.message);
                        setTimeout(function () {
                            location.href = document.referrer;
                            hideLoader();
                        }, 1500);
                    } else {
                        hideLoader();
                        toastr.error(data.message);
                    }
                }
            });
        });

        // availability information ...
        $('#availabilityForm').on('submit', function (e) {
            e.preventDefault(); // Prevent default form submission
            showLoader();
            var formData = new FormData(this);
            $.ajax({
                url: '/Profile/AddUpdateAvailability',
                type: 'POST',
                data: formData,
                contentType: false, // Required for FormData
                processData: false, // Required for FormData
                success: function (data) {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "600000",          // 10 minutes
                        "extendedTimeOut": "6000000",       // No extra time on hover
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    if (data.status == true) {
                        toastr.success(data.message);
                        setTimeout(function () {
                            //location.href = document.referrer;
                            hideLoader();
                        }, 1500);
                    } else {
                        hideLoader();
                        toastr.error(data.message);
                    }
                }
            });
        });
    });

    $(document).ready(function () {
        $("#uploadProfile").on("click", function () {
            $("#profilePic").click();
        });
        $("#uploadIcon").on("click", function () {
            $("#files").click();
        });
        $("#profilePic").on("change", function (e) {
            debugger;
            const [file] = e.target.files;
            if (file) {
                profilePic.push(e.target.files[0]);
                const reader = new FileReader();
                reader.onload = function (e) {
                    $("#previewImage")
                        .attr("src", e.target.result)
                };
                reader.readAsDataURL(file);
            } // Make sure it's visible
        });
        $("#files").on("change", function (e) {
            //e.target.files; new selection only in case of select and then change selection before submit
           // getAttachment($("#userId").val()); i need to get already submitten and then add new selection
            debugger;
            currentSelectionFiles = [];
            currentSelectionFiles = e.target.files;
            // if (file) {
            //     for (var i = 0; i < e.target.files.length; i++) {
            //         validateFile.push(e.target.files[i]);
            //     }
            // }
            $(".photoUpload-files").show();
            $('#submitFiles').prop('disabled', false);
           // drawFiles();
        });
        $(document).on('click', '.delete', function () {
            var id = $(this).attr('id');
            validateFile.splice(id, 1);
            updatefiles();
        });
        function updatefiles(result) {
            document.getElementById('showFiles').innerHTML = "";
            for (var i = 0; i < validateFile.length; i++) {
                var fileName = validateFile[i].name;
                $('#showFiles').append('<div class="row" style="background: #eee;padding: 10px 13px;border-radius: 5px;margin: 7px 0px;" class="name"><span class="col-11">' + fileName + '</span> <span class="col-1"><i class="fa fa-trash delete" id="' + i + '"></i></span></div>');
            }
        }
        $('#uploadForm').on('submit', function (e) {
            showLoader();
            e.preventDefault(); // Prevent the default form submission
            var formData = new FormData(this); // Create a FormData object
            formData.delete("files");
            for (var i = 0; i < validateFile.length; i++) {
                formData.append(i, validateFile[i]);
            }
            for (var i = 0; i < currentSelectionFiles.length; i++) {
                formData.append(i, currentSelectionFiles[i]);
            }
            $.ajax({
                url: '/Profile/upload', // Your API endpoint
                type: 'POST',
                data: formData,
                contentType: false, // Required for FormData
                processData: false, // Required for FormData
                success: function (data) {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "600000", 
                        "extendedTimeOut": "6000000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    if (data.status == true) {
                        getAttachment($("#userId").val());
                        toastr.success(data.message);
                        setTimeout(function () {
                            //location.href = document.referrer;
                            hideLoader();
                        }, 1500);
                    } else {
                        toastr.error(data.message);
                        hideLoader();
                    }
                      
                },
                error: function (xhr, status, error) {
                    toastr.error(data.message);
                    hideLoader();
                }
            });
        });
    });
    function drawFiles() {
        debugger;
        $("#imagePreview").children().remove();
        if(validateFile.length > 0) {
            for (var i = 0; i < validateFile.length; i++) {
                var image = validateFile[i];
                var id = 'image_' + i;
                $("#imagePreview").append(
                    '<div style="position: relative; display: inline-block; margin: 5px 10px;">' +
                    '<span style="font-size: 20px;cursor: pointer; color: #0095ff; position: absolute; top: 0; right: 0;" onclick="deleteFile(' + i + ')">' +
                    '<i class="fa fa-trash"></i>' +
                    '</span>' +
                    '<img style="width:200px;height:200px;" id="' + id + '"/>' +
                    '</div>'
                );
               $("#" + id).attr("src", URL.createObjectURL(image));
            }
        }
    }
    function deleteFile(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "This will remove the image from portofolio.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Yes, delete it!',
            background: '#1e1e1e',
            color: '#f1f1f1'
        }).then((result) => {
            if (result.isConfirmed) {
                var deletedFile 
                debugger;
                showLoader();
                var formData = new FormData(); 
                formData.delete("files");
                for (var i = 0; i < validateFile.length; i++) {
                    formData.append(i, validateFile[i]);
                }
                validateFile.splice(id, 1);
                $.ajax({
                    url: '/Profile/deleteFile', // Your API endpoint
                    type: 'POST',
                    data: formData,
                    contentType: false, // Required for FormData
                    processData: false, // Required for FormData
                    success: function (data) {
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "600000",
                            "extendedTimeOut": "6000000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                        if (data.status == true) {
                            getAttachment($("#userId").val());
                            toastr.success(data.message);
                            drawFiles();
                            setTimeout(function () {
                                //location.href = document.referrer;
                                hideLoader();
                            }, 1500);
                        } else {
                            toastr.error(data.message);
                            hideLoader();
                        }

                    },
                    error: function (xhr, status, error) {
                        toastr.error(data.message);
                        hideLoader();
                    }
                });
            }
        });
       
    }
    function getAttachment(id) {
        $(".photoUpload-files").hide();
        $('#submitFiles').prop('disabled', true);

        $.ajax({
            url: "/Profile/GetAttachmentById/" + id,
            type: "GET",
            cache: false,
            success: function (data) {
                validateFile = [];
                if (data.length >= 5) {
                    $("#uploadSection").hide();
                }else{
                    $("#uploadSection").show();
                }
                $("#imagePreview").children().remove();
                for (var i = 0; i < data.length; i++) {
                    $("#imagePreview").append(
                        '<div style="position: relative; display: inline-block; margin: 5px 10px;">' +
                        '<span style="font-size: 20px;cursor: pointer; color: #0095ff; position: absolute; top: 0; right: 0;" onclick="deleteFile(' + i + ')">' +
                        '<i class="fa fa-trash"></i>' +
                        '</span>' +
                        '<img style="width:200px;height:200px;" src="/Files/' + data[i].attachmentPath + '" id="' + data[i].attachmentId + '"/>' +
                        '</div>'
                    ); 
                    var getLinkFromImage = $("#" + data[i].attachmentId).attr('src');
                    fetch(getLinkFromImage)
                        .then((res) => res.blob())
                        .then((myBlob) => {
                            const myFile = new File([myBlob], 'image.jpg', { type: myBlob.type });
                            validateFile.push(myFile);
                        });
                }
               
            }
        });
    }

    let currentCard = null;
    document.querySelectorAll('.edit-btn').forEach(btn => {
        btn.addEventListener('click', function () {
            showLoader();
            const card = this.closest('.package-card');
            currentCard = card;
            debugger;
            // Fill form
            document.getElementById('packageId').value = this.getAttribute('data-packageId');
            document.getElementById('packageTitle').value = this.getAttribute('data-title');
            document.getElementById('packagePrice').value = this.getAttribute('data-price');
            document.getElementById('packageDuration').value = this.getAttribute('data-duration');
            document.getElementById('packageDeliverables').value = this.getAttribute('data-deliverables');
            document.getElementById('packageDescription').value = this.getAttribute('data-description');

            // Show the form with smooth animation
            const formContainer = document.querySelector('.form-container2');
            formContainer.classList.add('show');
            setTimeout(function () {
                hideLoader();
            }, 500);
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
     
        // Handle delete button
        document.querySelectorAll('.delete-btn').forEach(btn => {
            btn.addEventListener('click', function () {
                var packageId = this.getAttribute('data-packageId');

                const card = this.closest('.package-card');
                Swal.fire({
                    title: 'Are you sure?',
                    text: "This will remove the package from the list.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#6c757d',
                    confirmButtonText: 'Yes, delete it!',
                    background: '#1e1e1e',
                    color: '#f1f1f1'
                }).then((result) => {
                    if (result.isConfirmed) {
                        showLoader();
                        $.ajax({
                            url: "/Profile/DeletePackage/" + packageId,
                            type: "GET",
                            cache: false,
                            success: function (data) {
                                toastr.options = {
                                    "closeButton": true,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-top-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "600000",          // 10 minutes
                                    "extendedTimeOut": "6000000",       // No extra time on hover
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };
                                if (data.status == true) {
                                    card.remove();
                                    toastr.success(data.message);
                                    setTimeout(function () {
                                        location.href = document.referrer;
                                        hideLoader();
                                    }, 1500);
                                } else {
                                    toastr.error(data.message);
                                    hideLoader();
                                }
                            }
                        });
                    }
                });
            });
        });
    });
</script>
