@using MWS.Data.Enums
@model ProfileModel
@{
    ViewBag.WeekDayNames = Enum.GetNames(typeof(WeekDays)).ToList();
}
<div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <div class="dashbard-menu-overlay" style="display: none;"></div>
    <div class="dashbard-menu-wrap">
        <div class="dashbard-menu-close"><i class="fa fa-times"></i></div>
        <div class="dashbard-menu-container">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Main</h3>
                <ul class="no-list-style">
                    <li><a href="dashboard.html"><i class="fa fa-chart-line"></i>Dashboard</a></li>
                    <li><a href="dashboard-myprofile.html"><i class="fa fa-user-edit"></i> Edit profile</a></li>
                    <li><a href="dashboard-messages.html"><i class="fa fa-envelope"></i> Messages <span>3</span></a></li>
                    <li>
                        <a href="#" class="submenu-link"><i class="fa fa-plus"></i>Submenu</a>
                        <ul class="no-list-style">
                            <li><a href="#"><i class="fa fa-th-list"></i> Submenu 2 </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- user-profile-menu end-->
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Listings</h3>
                <ul class="no-list-style">
                    <li><a href="dashboard-review.html"><i class="fa fa-comments-alt"></i> Reviews <span>2</span> </a></li>
                    <li><a href="dashboard-add-listing.html" class="user-profile-act"><i class="fa fa-file-plus"></i> Add New</a></li>
                </ul>
            </div>
            <!-- user-profile-menu end-->
        </div>
    </div>
    <!-- dashbard-menu-wrap end  -->
    <!-- content -->
    <div class="dashboard-content">
        <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
        <div class="container dasboard-container">
            <!-- dashboard-title -->
            <div class="dashboard-title fl-wrap">
                <div class="dashboard-title-item"><span>Add Listing</span></div>
                <div class="dashbard-menu-header">
                    <div class="dashbard-menu-avatar fl-wrap">
                        <img src="./img/avatar/5.jpg" alt="">
                        <h4>Welcome, <span>Alica Noory</span></h4>
                    </div>
                    <a href="index.html" class="log-out-btn   tolt" data-microtip-position="bottom" data-tooltip="Log Out"><i class="fa fa-power-off"></i></a>
                </div>
                <!--Tariff Plan menu-->
                <div class="tfp-det-container">
                    <div class="tfp-btn"><span>Your Tariff Plan : </span> <strong>Extended</strong> <i class="fa fa-caret-down"></i></div>
                    <div class="tfp-det">
                        <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                        <a href="#" class="tfp-det-btn color-bg">Details</a>
                    </div>
                </div>
                <!--Tariff Plan menu end-->
            </div>
            <!-- dashboard-title end -->
            <div class="dasboard-wrapper fl-wrap no-pag">
                <div class="dasboard-scrollnav-wrap scroll-init2 fl-wrap" style="z-index: auto; position: relative; top: 0px;">
                    <ul>
                        <li><a href="#sec1" class="act-scrlink">Info</a></li>
                        <li><a href="#sec2" class="">Packages</a></li>
                        <li><a href="#sec3" class="">Portfolio</a></li>
                        <li><a href="#sec4" class="">Availability</a></li>
                    </ul>
                    <div class="progress-indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
                            <circle cx="16" cy="16" r="15.9155" class="progress-bar__background"></circle>
                            <circle cx="16" cy="16" r="15.9155" class="progress-bar__progress
                                        js-progress-bar" style="stroke-dashoffset: 100px;"></circle>
                        </svg>
                    </div>
                </div><div style="display: none; width: 1056.6px; height: 56.7614px; float: left;"></div>
                <!-- dasboard-widget-title -->
                <div class="dasboard-widget-title fl-wrap" id="sec1">
                    <h5><i class="fas fa-info"></i>Basic Informations</h5>
                </div>
                <!-- dasboard-widget-title end -->
                <!-- dasboard-widget-box  -->
                <div class="dasboard-widget-box fl-wrap">
                    <form asp-action="Update" method="post">
                        <div class="custom-form">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>
                                        Full name
                                        <span class="dec-icon"><i class="fa fa-user"></i></span>
                                    </label>
                                    <input asp-for="basicInfo.FullName" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        Email
                                        <span class="dec-icon"><i class="fa fa-envelope"></i></span>
                                    </label>
                                    <input asp-for="basicInfo.Email" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        Phone
                                        <span class="dec-icon"><i class="fa fa-phone"></i> </span>
                                    </label>
                                    <input asp-for="basicInfo.Phone" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>City</label>
                                    <select id="citySelect" name="City" style="background: #292e3a;border-color: rgba(255, 255, 255, 0.1);color: #fff;padding: 12px;border-radius: 4px;" class="form-control">
                                        <option value="" disabled>Select a City</option>
                                        @foreach (var city in Model.basicInfo.Cities)
                                        {
                                            if (city.name == Model.basicInfo.City)
                                            {
                                            <option value="@city.name"  selected>@city.name</option>
                                            }
                                            else
                                            {
                                                <option value="@city.name">@city.name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label>Category</label>
                                    <select asp-for="basicInfo.SelectedCategories" asp-items="Model.basicInfo.AvailableCategories" id="multiSelect" required multiple class="form-control multi-select">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <button style="width: 100%;margin-top: 30px;" type="submit" class="btn btn-primary">
                                        Update
                                    </button>
                                </div>
                            </div>
                           
                        </div>
                    </form>

                </div>
                <!-- dasboard-widget-box  end-->
                <!-- dasboard-widget-title -->
                <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec2">
                    <h5><i class="fas fa-street-view"></i>Packages</h5>
                </div>
                <!-- dasboard-widget-title end -->
                <!-- dasboard-widget-box  -->
                <div class="dasboard-widget-box fl-wrap">
                    <form asp-action="Update" method="post">
                        <div class="custom-form">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>
                                        title
                                        <span class="dec-icon"><i class="fa fa-pen-to-square"></i></span>
                                    </label>
                                    <input asp-for="packageInfo.title" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        price
                                        <span class="dec-icon"><i class="fa fa-money-bill-wave"></i></span>
                                    </label>
                                    <input asp-for="packageInfo.price" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        duration <span class="labelNote">* number of hours</span>
                                        <span class="dec-icon"><i class="fa fa-clock"></i> </span>
                                    </label>
                                    <input asp-for="packageInfo.duration" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>
                                        deliverables
                                    </label>
                                    <textarea asp-for="packageInfo.deliverables" class="form-control" placeholder=""></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <label>
                                            description
                                        </label>
                                        <textarea asp-for="packageInfo.description" class="form-control" placeholder=""></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="margin: auto;">
                                    <button style="width: 100%;margin-top: 30px;" type="submit" class="btn btn-primary">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- dasboard-widget-box  end-->
                <!-- dasboard-widget-title -->
                <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec3">
                    <h5><i class="fas fa-image"></i>Portofolio</h5>
                </div>
                <!-- dasboard-widget-title end -->
                <!-- dasboard-widget-box  -->
                <div class="dasboard-widget-box   fl-wrap">
                    <div class="custom-form">
                        <div class="clearfix"></div>
                        <div class="listsearch-input-item fl-wrap">
                            <form>
                                <div class="fuzone">
                                    <div class="fu-text">
                                        <span><i class="fa fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                        <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" class="upload" multiple="">
                                </div>
                                <div class="row">
                                    <div class="col-sm-6" style="margin: auto;">
                                        <button style="width: 100%;margin-top: 30px;" type="submit" class="btn btn-primary">
                                            upload
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- dasboard-widget-box  end-->
                <!-- dasboard-widget-title -->
                <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec4">
                    <h5><i class="fas fa-list"></i>Availability</h5>
                </div>
                <!-- dasboard-widget-title end -->
                <!-- dasboard-widget-box  -->
                <div class="dasboard-widget-box fl-wrap">
                    <form asp-action="Update" method="post">
                        <div class="custom-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>
                                        From Hour
                                        <span class="dec-icon"><i class="fa fa-clock"></i></span>
                                    </label>
                                    <input asp-for="availability.fromHour" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        To Hour
                                        <span class="dec-icon"><i class="fa fa-clock"></i></span>
                                    </label>
                                    <input asp-for="availability.toHour" class="form-control" placeholder="" />
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        From Day
                                    </label>
                                    <select id="fromDaySelect" name="fromDay" style="background: #292e3a;border-color: rgba(255, 255, 255, 0.1);color: #fff;padding: 12px;border-radius: 4px;" class="form-control">
                                        <option value="" disabled>Select a City</option>
                                        @foreach (var day in (List<string>)ViewBag.WeekDayNames)
                                        {
                                            if (day == Model.availability.fromDay)
                                            {
                                                <option value="@day" selected>@day</option>
                                            }
                                            else
                                            {
                                                <option value="@day">@day</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        To Day
                                    </label>
                                    <select id="toDayfromDaySelect" name="toDay" style="background: #292e3a;border-color: rgba(255, 255, 255, 0.1);color: #fff;padding: 12px;border-radius: 4px;" class="form-control">
                                        <option value="" disabled>Select a City</option>
                                        @foreach (var day in (List<string>)ViewBag.WeekDayNames)
                                        {
                                            if (day == Model.availability.toDay)
                                            {
                                                <option value="@day" selected>@day</option>
                                            }
                                            else
                                            {
                                                <option value="@day">@day</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="margin: auto;">
                                    <button style="width: 100%;margin-top: 30px;" type="submit" class="btn btn-primary">
                                        save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- dasboard-widget-box  end-->
            </div>
        </div>
        <div class="limit-box fl-wrap"></div>
    </div>
    <!-- content end -->
</div>
<!-- Initialize Select2 AFTER all scripts have loaded -->
<script>
   
    $(document).ready(function () {
        // This will now work if Select2 loaded correctly
        $('.multi-select').select2({
            placeholder: "Select Categories",
            maximumSelectionLength: 5,
        });
        // Update on change
    });
</script>
