@using Microsoft.AspNetCore.Localization
@using TripBusiness.Ibusiness;
@inject ILocalizationService _localizationService;
@inject ILanguageService _languageService;
@model List<MWS.Data.Entities.TourAttachment>;
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var culture = requestCulture?.RequestCulture.UICulture.Name;
    var lang = _languageService.GetLanguageByCulture(culture!).languageId!.Value;
    var l =  _localizationService.GetStringResource(lang);
    var t = l.FirstOrDefault()?.value;
    ViewData["Title"] = @ViewData["Title"];
    var tours = ViewBag.tours;
    var whyChooseUs = ViewBag.whyChooseUs;
    var toursAttachments = ViewBag.toursAttachments;
}

<!-- Start Hero -->
<section class="swiper-slider-hero relative block h-screen" id="home">
    <div class="swiper-container absolute end-0 top-0 w-full h-full swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper" style="transform: translate3d(-3038px, 0px, 0px); transition-duration: 0ms;">
           <div class="swiper-slide flex items-center overflow-hidden swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="0" style="width: 1519px; transition: all 0ms ease 0s;">
                <div class="slide-inner absolute end-0 top-0 w-full h-full slide-bg-image flex items-center bg-center;" style="background-size:cover;transform: translate3d(759.5px, 0px, 0px); transition: all 0ms ease 0s;">
                    <div class="absolute inset-0 bg-black/70">
                        <img src="~/images/slide7.jpeg" style="width:100% !important;height:90vh" />
                     </div>
                    <div class="container relative">
                        <div class="grid grid-cols-1">
                                <div class="text-center">
                                    <h1 class="font-bold text-white lg:leading-normal leading-normal text-4xl lg:text-6xl mb-6 mt-5">@_localizationService.Localize("Find") <br> @_localizationService.Localize("TravelPackage")</h1>
                                    <p class="text-white/70 text-xl max-w-xl mx-auto">@_localizationService.Localize("PlanningForTrip")</p>
                                    <div class="mt-6">
                                        <a href="" class="py-2 px-5 inline-block tracking-wide align-middle duration-500 text-base text-center bg-red-500 text-white rounded-md">@_localizationService.Localize("SeeMore")</a>
                                    </div>
                                </div>
                        </div><!--end grid-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide flex items-center overflow-hidden swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 1519px; transition: all 0ms ease 0s;">
                <div class="slide-inner absolute end-0 top-0 w-full h-full slide-bg-image flex items-center bg-center;" style="background-size:cover;transform: translate3d(759.5px, 0px, 0px); transition: all 0ms ease 0s;">
                    <div class="absolute inset-0 bg-black/70">
                        <img src="~/images/slide3.jpeg" style="width:100% !important;height:90vh" />
                    </div>
                    <div class="container relative">
                        <div class="grid grid-cols-1">
                           
                        </div><!--end grid-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
             <div class="swiper-slide flex items-center overflow-hidden swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="2" style="width: 1519px; transition: all 0ms ease 0s;">
                <div class="slide-inner absolute end-0 top-0 w-full h-full slide-bg-image flex items-center bg-center;"  style="background-size:cover;transform: translate3d(759.5px, 0px, 0px); transition: all 0ms ease 0s;">
                    <div class="absolute inset-0 bg-black/70">
                        <img src="~/images/slide4.jpeg" style="width:100% !important;height:90vh" />
                    </div>
                    <div class="container relative">
                        <div class="grid grid-cols-1">
                        </div><!--end grid-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide flex items-center overflow-hidden swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="0" style="width: 1519px; transition: all 0ms ease 0s;">
                <div class="slide-inner absolute end-0 top-0 w-full h-full slide-bg-image flex items-center bg-center;" style="background-size:cover;transform: translate3d(759.5px, 0px, 0px); transition: all 0ms ease 0s;">
                    <div class="absolute inset-0 bg-black/70">
                        <img src="~/images/slide5.jpeg" style="width:100% !important;height:90vh" />
                        </div>
                    <div class="container relative">
                        <div class="grid grid-cols-1">
                        </div><!--end grid-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide flex items-center overflow-hidden swiper-slide-active" data-swiper-slide-index="4" style="width: 1519px; transition: all 0ms ease 0s;">
                <div class="slide-inner absolute end-0 top-0 w-full h-full slide-bg-image flex items-center bg-center;" style="background-size:cover;transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s; ">
                    <div class="absolute inset-0 bg-black/70">
                        <img src="~/images/slide6.jpeg" style="width:100% !important;height:90vh" />
                    </div>
                    <div class="container relative">
                        <div class="grid grid-cols-1">
                        </div><!--end grid-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide flex items-center overflow-hidden swiper-slide-active" data-swiper-slide-index="5" style="width: 1519px; transition: all 0ms ease 0s;">
                <div class="slide-inner absolute end-0 top-0 w-full h-full slide-bg-image flex items-center bg-center;"  style="background-size:cover;transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s; ">
                    <div class="absolute inset-0 bg-black/70">
                        <img src="~/images/slide2.jpeg" style="width:100% !important;height:90vh" />
                    </div>
                    <div class="container relative">
                        <div class="grid grid-cols-1">
                        </div><!--end grid-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
       </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
@*         <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1">01</span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2">02</span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3">03</span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4">04</span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5">05</span>
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 6">06</span>
        </div> *@
        <!-- <div class="swiper-button-next bg-transparent w-[35px] h-[35px] leading-[35px] -mt-[30px] bg-none border border-solid border-white/50 text-white hover:bg-red-500 hover:border-red-500 rounded-full text-center"></div>
        <div class="swiper-button-prev bg-transparent w-[35px] h-[35px] leading-[35px] -mt-[30px] bg-none border border-solid border-white/50 text-white hover:bg-red-500 hover:border-red-500 rounded-full text-center"></div> -->
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div><!--end container-->
</section>
<!-- Hero End -->
@* Who we are *@
<section class="relative md:py-24 py-16 overflow-hidden">
    <div class="container relative">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-6 relative">
            <div class="md:col-span-5">
                <div class="relative">
                    <video style="width:100%" poster="" controls>
                        <source src="/images/video.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </div>
            </div>
            <div class="md:col-span-7">
                <div class="lg:ms-8">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">@_localizationService.Localize("WhoWeAre")</h3>
                    <p class="text-slate-400 max-w-xl mb-6">
                        @_localizationService.Localize("WhoWeAreDesc")
                    </p>
                    <a href="/aboutUs" class="py-2 px-5 inline-block tracking-wide align-middle duration-500 text-base text-center bg-red-500 text-white rounded-md">Read More <i class="mdi mdi-chevron-right align-middle ms-0.5"></i></a>
                </div>
            </div>

        </div>
    </div><!--end container-->

    <div class="container relative md:mt-24 mt-16" id="tourPackages" style="margin-top:90px !important;">
        <div class="grid grid-cols-1 text-center">
            <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold" style="margin-bottom:35px!important;">@_localizationService.Localize("ToursPackages")</h3>
        </div><!--end grid-->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active show" id="pills-london" role="tabpanel" aria-labelledby="pills-london-tab">
                <div class="row g-4">
                     @if (tours != null)
                    {
                        var i = 0;
                        foreach (var tour in tours)
                        {

                            <div class="col-xs-12 col-lg-4 col-sm-6">
                                    <div class="package-card h-calc">
                                        <div class="package-img imgEffect4">
                                            <a href="/tourDetails/@tour.tourId">
                                                @if (Model.Where(e => e.tourId == tour.tourId).ToList().Count > 0)
                                                {
                                                    var mainImage = Model.Where(e => e.tourId == tour.tourId).ToList();
                                                    <img src="~/Files/@mainImage[0].attachmentPath" alt="tour" >
                                                }
                                                else
                                                {
                                                    <img src="~/images/listing/1.jpg" alt="tour" >
                                                }
                                            </a>
                                            <div class="image-badge">
                                                <p class="pera"><a href="/tourDetails/@tour.tourId" id="bookNow">Book Now</a></p>
                                            </div>
                                        </div>
                                        <div class="package-content">
                                            <p class="area-name">
                                                <a href="tour-details.html">@tour.title</a>
                                            </p>
                                            <div class="location">
                                                <i class="ri-map-pin-line"></i>
                                            <div class="name">@tour.tourLocation</div>
                                            </div>
                                            <div class="packages-person">
                                                <div class="count">
                                                    <i class="fa fa-clock"></i>
                                                <p class="pera">@tour.duration Days</p>
                                                </div>
                                                <div class="count">
                                                    <i class="fa fa-home"></i>
                                                <p class="pera">@tour.capacity Rooms</p>
                                                </div>
                                            </div>
                                            <div class="price-review">
                                                <div class="d-flex gap-10">
                                                    <p class="light-pera">From</p>
                                                <p class="pera">@tour.adultPrice</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                    } 
                </div>
            </div>
        </div>
        <!--end grid-->
    </div><!--end container-->
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
                <p style="font-weight: bold;font-size: 25px;color: #ef4f4f;margin-top: 30px;margin-bottom: 10px;">
                    @_localizationService.Localize("WhyBookingWithUs")
                </p>
            <ul id="whyBookingUs">
                    @foreach(var c in whyChooseUs)
                    {
                        <li><i class="fa fa-angle-double-right"></i>@c.title</li>
                    }
            </ul>
        </div>
    </div>
    </div>
</section>
@* End who we are *@
<script type="text/javascript">
    $(document).ready(function () {
        if (localStorage.getItem("spcialRequestTitle")) {
            $.toast({
                heading: localStorage.getItem("spcialRequestTitle"),
                text: localStorage.getItem("spcialRequestMessage"),
                showHideTransition: 'slide',
                position: 'top-right',
                icon: 'success',
                bgColor: '#1e7506',
                hideAfter: 5000
            });
            localStorage.clear();
        }
        if (localStorage.getItem("contactTitle")) {
            $.toast({
                heading: localStorage.getItem("contactTitle"),
                text: localStorage.getItem("contactMessage"),
                showHideTransition: 'slide',
                position: 'top-right',
                icon: 'success',
                bgColor: '#1e7506',
                hideAfter: 5000
            });
            localStorage.clear();
        }
    });
</script>